<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="./assets/css/bundle.css">
  <title>Yukihiro Hoshide</title>
</head>
<body class="index">
  <div id="app">  

    <global-loading></global-loading>

    <global-header></global-header>

    <global-menu></global-menu>

    <router-view></router-view>
    
    <main class="main">
      <ul class="m-lists" v-if="posts && posts.length">
        <li class="m-lists__item" v-for="post of posts"><a v-bind:href="url + post.slug">
          <div class="image"><img :src="post._embedded['wp:featuredmedia'][0].media_details.sizes.large.source_url" alt=""></div>
          <div class="content">
            <div class="txt">
              <h2 class="name">{{post.title.rendered}}</h2>
              <ul class="skills">
                <li>{{post.acf.technologies}}</li>
              </ul>
            </div>
          <!-- content --></div>
        </a><!-- m-lists__item --></li>
      <!-- lists --></ul>
    <!-- main --></main>

    <global-footer></global-footer>

  <!-- #app --></div>

  <script src="./assets/js/vender.js"></script>
  <script src="./assets/js/app.js"></script>
</body>
</html>
