.page-enter-active, .page-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.page-enter-active {
  transition-delay: .4s;
}

.page-enter, .page-leave-active {
  opacity: 0
}
