// --------------------------------------------------------------------------
//  utility
// --------------------------------------------------------------------------
.u-sp {
  display: none;
}

/* sp
--------------------------------------------------------------------------*/
@include mq(sp) {
  .u-pc {
    display: none;
  }

  .u-sp {
    display: block;
  }
}
