@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');
@import '_mixin.scss';
@import '_base.scss';
@import '_animation.scss';
@import '_global.scss';


// --------------------------------------------------------------------------
//  index
// --------------------------------------------------------------------------

.index {
  .main {
    margin-top: 100px;

    .lists {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .list {
      position: relative;
      width: 50%;
      padding-top: 26.25%;
      margin-bottom: 50px;

      .image {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .image > img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .content {
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        transform: translate(-50%, -50%);
        padding: 30px;
        color: #fff;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);
      }

      .content .name {
        font-size: 2.0rem;
      }

      .content .skills {
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
      }

      .content .skills li {
        position: relative;
        padding-right: 5px;
        margin-right: 5px;
        font-weight: 500;
      }

      .content .skills li::after {
        content: ",";
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        margin: 0 auto auto auto;
      }
    }
  }
}

/* hover
--------------------------------------------------------------------------*/
.index .main .list .content:hover {
  opacity: 1;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
  backface-visibility: hidden;
}


/* xl
--------------------------------------------------------------------------*/
@include mq(xl) {
  .index {
    .main {
      .lists {
        width: 140rem;
        margin: 0 auto;
      }
    }
  }
}


/* sp
--------------------------------------------------------------------------*/
@include mq(sp) {
  .index {
    .main {
      margin-top: 20px;

      .lists {
        flex-direction: column;
      }

      .list {
        width: 100%;
        padding-top: 56.25%;
        margin-bottom: 30px;

        .image > img {
          width: 100%;
          height: auto;
        }

        .content {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          transform: translate(-50%, -50%);
          padding: 20px;
          opacity: 1;
          transition: none;
        }

        .content .name {
          font-size: 1.6rem;
        }

        .content .skills li {
          margin-right: 0;
        }
      }
    }
  }
}

/*--------------------------------------------------------------------------
  about
---------------------------------------------------------------------------*/
.about {
  .main {
    margin-top: 100px;
  }

  .introduction {
    padding: 30px 30px 70px;
  }

  .meta__cat {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 300;
  }

  .meta__cat + .meta__cat {
    margin-top: 5px;
  }

  .meta__item {
    position: relative;
    padding-left: 20px;
  }

  .meta__item + .meta__item::after {
    content: '/';
    display: inline-block;
    position: absolute;
    left: 5px;
    bottom: 0;
  }

  .meta__item .colon {
    padding: 0 3px;
    animation: flashing 2s steps(2, start) infinite;
  }

  .prof {
    width: 100%;
    padding-top: 60px;
    line-height: 2.5;

    .txt + .txt {
      margin-top: 50px;
    }
  }

  .sns {
    display: flex;
    align-items: center;
    padding-top: 50px;

    li + li {
      padding-left: 30px;
    }
  }

  .skills {
    padding: 70px 30px;
    background: #D8D8D8;

    &__inner {
      width: 100%;
    }

    .skills__hdg {
      font-weight: 500;
      font-size: 2.8rem;
    }

    .categories {
      margin-top: 20px;
      display: flex;
    }

    .category {
      &__hdg {
        font-weight: 400;
        font-size: 2.0rem;
      }

      .items {
        padding-top: 10px;
        font-size: 1.2rem;
        line-height: 2.25;
      }
    }

    .category + .category {
      padding-left: 70px;
    }
  }
}

/* xl
--------------------------------------------------------------------------*/
@include mq(xl) {
  .about .main .prof__inner {
    width: 140rem;
    margin: 0 auto;
  }

  .about .main .skills__inner {
    width: 140rem;
    margin: 0 auto;
  }
}

/* sp
--------------------------------------------------------------------------*/
@include mq(sp) {
  .about {
    .introduction {
      padding-bottom: 50px;
    }

    .prof {
      padding-top: 10px;

      .txt + .txt {
        margin-top: 20px;
      }
    }

    .sns {
      padding-top: 30px;
      justify-content: space-between;

      li {
        font-size: 1.2rem;
      }

      li + li {
        padding-left: 10px;
      }
    }

    .skills {
      padding: 30px;

      .skills__hdg {
        font-size: 2.0rem;
      }

      .categories {
        flex-direction: column;
      }

      .category + .category {
        padding-left: 0;
        padding-top: 30px;
      }

      .category__hdg {
        font-size: 1.6rem;
      }
    }
  }
}


/*--------------------------------------------------------------------------
  works
---------------------------------------------------------------------------*/
.works {
  position: relative;

  .fv {
    position: relative;
    width: 100vw;
    height: 70vh;
    background: url('/assets/img/work01.jpg') no-repeat 50% 50%;
    background-size: cover;
    z-index: 0;

    .project-name {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 4.8rem;
      z-index: 3;
    }

    .scroll a {
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      transform: translateX(-50%);
      color: #fff;
      height: 80px;
    }

    .scroll__line {
      display: inline-block;
      width: 1px;
      height: 40px;
      background: #fff;
    }

    .bg {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #1363e6;
      opacity: .9;
    }
  }

  .details {
    width: 100%;
    margin: 0 auto;
    padding: 80px 40px;

    &__wrap {
      display: flex;
    }

    &__item {
      width: 50%;
      padding: 0 40px;
    }

    &__list {
      font-size: 1.4rem;
    }


    &__unit + .details__unit {
      margin-top: 50px;
    }

    &__head {
      position: relative;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 10px;
    }

    &__head::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: -30px;
      top: 50%;
      width: 20px;
      height: 2px;
      background: #000;
      transform: translateY(-50%);
    }

    &__txt {
      font-size: 1.4rem;
      line-height: 2.25;
      font-weight: 400;
    }

    &__txt + .details__txt {
      margin-top: 20px;
    }

    &__list {
      line-height: 2.5;
    }
  }

  .site-flow {

    .item a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 40px 80px;
      font-size: 2.4rem;
    }

    .item__name {
      font-weight: 500;
    }
  }

  // variation
  .site-flow {

    .item--prev a {
      background: #1363e6;
    }

    .item--next a {
      flex-direction: row-reverse;
      background: #d8d8d8;
    }
  }
}

/* xl
--------------------------------------------------------------------------*/
@include mq(xl) {
  .works {
    .details {
      width: 140rem;
    }

    .site-flow {
      &__inner {
        width: 120rem;
        margin: 0 auto;
      }
    }
  }
}


/* sp
--------------------------------------------------------------------------*/
@include mq(sp) {
  .works {

    .fv {
      .project-name {
        font-size: 4.0rem;
      }

      .scroll a {
        height: 60px;
      }
    }

    .details {
      width: 100%;
      margin: 0 auto;
      padding: 40px 20px;

      &__wrap {
        flex-wrap: wrap;
      }

      &__item {
        width: 100%;
        padding: 0 20px;
      }

      &__item + .details__item {
        margin-top: 25px;
      }

      &__list {
        font-size: 1.2rem;
      }

      &__unit + .details__unit {
        margin-top: 25px;
      }

      &__head {
        font-size: 1.4rem;
      }

      &__head::after {
        left: -20px;
        width: 10px;
      }

      &__txt {
        font-size: 1.2rem;
      }
    }

    .site-flow {

      .item a {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 1.8rem;
      }
    }

    // variation
    .site-flow {

      .item--next a {
        flex-direction: column;
      }
    }
  }
}
